{{#extend "css"}}
	<link rel='stylesheet' href='/css/login.css'>
	<link rel='stylesheet' href='/css/style.css'>
	<link rel="stylesheet" href="/css/bootstrap4.6/bootstrap.min.css">
{{/extend}}

<div class="login-form">
	</br>
	<div class="row">
		<div class="h1 col-md-12 col-xs-12" align="center">CMRose</div>
	</div>

	<div class="col-xs-12 line"></div>

	</br>
	<div class="col-md-12 text-danger" align="center" id="login-msg">
		<b>{{msg}}</b>
	</div>
	</br> </br>

	<div class="row">
		<div class='col-10 offset-1'>
			<form id="login-form">
				<div class="form-group">
					<label for="username">Tên đăng nhập:</label>
					<input type="text" class="form-control" name="username" id="username">
				</div>
				<div class="form-group">
					<label for="pswd">Mật khẩu:</label>
					<input type="password" class="form-control" name="pswd" id="pswd">
				</div>
				<div class="col-12 change-pwd-btn text-primary" align="right">
					<a href="/admin/pswd/forgot">Quên mật khẩu</a>
				</div>
				
				<button type="submit" class="btn btn-primary btn-block" id="login-btn">Đăng nhập</button>
			</form>
		</div>
	</div>
</div>

{{#extend "js"}}
	<script src="/js/tether.min.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap4.6/bootstrap.min.js"></script>
	<script>
		function resizedWindow() {
			let width = $(window).width();
			if (width >= 768) $("#title").attr("align", "right");
			else $("#title").attr("align", "left");
			$('#break').remove();
			$('#login-btn').after('<div id="break"></br></div>')
		}
		
		$('body').css('background-image', 'url(/images/bkg-login.jpg)');
		$(document).ready(resizedWindow);
		$(window).resize(resizedWindow);
		
		$("#login-form").submit(function(e) {
			let url = "/admin";
			$.ajax({
				type: "POST",
				url: url,
				data: $("#login-form").serialize(),
				success: function(data) {
					if (data) $("#login-msg").text(data);
					else $(location).attr('href', '/admin')
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});
	</script>
{{/extend}}
