{{#extend "css"}}
	<style>
		.imagesList {
			width: 100%;
			overflow-x: auto;
			white-space: nowrap;
			border: 1px solid #757575;
		}
		
		.imagesList img {
			padding: 5px 0px 5px 10px;
			width:120px;
			height:120px;
			cursor: pointer;
		}
	</style>
{{/extend}}

<div id="body" ng-app="review" ng-controller="content" hidden>
	{{> sidebar}}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-xs-12" id="warning" align="right" style="font-size:18px; color:orange;" hidden>
				Kết nối mạng không ổn định, dữ liệu có thể không được lấy đầy đủ
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 h2" style="padding-top:5px;">
				Viết bài
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12 h4" align="right">
						<small>
							Mã giống hoa: <span ng-bind="definedId"></span>
						</small>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" align="right" style="padding-bottom:10px;">
						<button id="done-btn" class="btn btn-primary">Xong</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					{{#configPartial 
						'{
							"height": 500
						}'
					}} {{> editor this }} {{/configPartial}}
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-xs-12">
				<div class="imagesList">
					{{#each imgSrcs}}
						<img src="/images/rose/{{this}}" onclick="imgClicked('/images/rose/{{this}}')">
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	</br>
	{{> footer}}
</div>

{{> dialog}}

{{#extend "js"}}
	<script>
		function imgClicked(imgSrc) {
			tinymce.activeEditor.execCommand('mceInsertContent', false,
			"<img src='" + imgSrc + "' width=500px height=auto>");
		}
		
		let msgDialogDelegate;
		let preventInvokeDelegate = false;

		function showMsgDialog(title, msg, type, callback) {
			switch(type.toLowerCase()) {
				case "success":
					$('#dialog-title-background').css('background-color', '#3F51B5');
					$("#dialog-ok-btn").attr('class', 'btn btn-success btn-block');
					break;
				case "failure":
					$('#dialog-title-background').css('background-color', '#F44336');
					$("#dialog-ok-btn").attr('class', 'btn btn-warning btn-block');
					break;
				case "warning":
					$('#dialog-title-background').css('background-color', '#FF9800');
					$("#dialog-ok-btn").attr('class', 'btn btn-warning btn-block');
					break;
			}
			
			msgDialogDelegate = callback;
			$('#dialog-title').empty();
			$('#dialog-msg').empty();
			$('#dialog-title').append(title);
			$('#dialog-msg').append(msg);
			$('#message-popup').modal('show');
		}
		
		$('#message-popup').on('hidden.bs.modal', function () {
			if (preventInvokeDelegate) {
				preventInvokeDelegate = false;
				return;
			}
			msgDialogDelegate();
		});
		
		$('#dialog-ok-btn').click(function() {
			preventInvokeDelegate = false;
			$('#message-popup').modal('toggle');
		});
		
		$('#done-btn').click(function() {
			$.ajax({
				type: "POST",
				url: "/admin/rose/review",
				data: { roseId: '{{roseId}}', review: tinymce.activeEditor.getContent() },
				success: function(data) {
					let err = data.err;
					if (err) {
						preventInvokeDelegate = true;
						showMsgDialog(err.title, err.msg, "failure");
					} else {
						let msg = "Đã cập nhật bài viết thành công";
						showMsgDialog("Thành công", msg, "success", function() {
							$(location).attr('href', data.url);
						});
					}
				},
				error: function(request, status, error) {
					preventInvokeDelegate = true;
					showMsgDialog("Lỗi mạng", "Kết nối mạng không ổn định, thêm dữ liệu không thành công", "failure");
				}
			})
		});
		$("#done-btn").hide();
		let roseApp = angular.module('review', []);
		roseApp.controller("content", function($scope, $http) {
			function done(content) {
				$('#body').show();
				$('document').ready(function() {
					$('#editor').text(content);
				});
			}
			
			$http.get('/api/review/{{roseId}}').then(
				function(response) { // success
					$("#done-btn").show();
					let data = response.data;
					$scope.definedId = data.definedId;
					done(data.review);
				},
				function(response) {  // error
					$("#warning").show();
					done('');
				}
			);
		});
	</script>
{{/extend}}
