<div id="message-popup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div id="dialog-title-background" class="col-xs-12" style="background-color:#3F51B5">
				<div class="col-xs-12 h3" align="center" style="color:white;">
					<label id="dialog-title"></label>
				</div>
			</div>
			</br></br></br></br>
			<form id="color-form">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group"><p id="dialog-msg"></p></div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<button type="button" id="dialog-ok-btn" class="btn btn-success btn-block">OK</button>
				</div>
			</div>
			</br>
		</div>
	</div>
</div>
