{{#extend "css-partial"}}
	<link href="/css/nav/bootstrap.min.css" rel="stylesheet">
	<link href="/css/nav/custom.css" rel="stylesheet" type="text/css">
{{/extend}}

<nav id="sidebar" class="navbar navbar-default navbar-static-top" role="navigation">
	<img class="navbar-header b-lazy" id="header-nav">
		<div class="center banner h1" align="center">
			{{name}}
		</div>
	</img>
	<!-- /.navbar-header -->
</nav>

{{#extend "js-partial"}}
	<script src="/js/blazy.min.js"></script>
	<!-- jQuery -->
    <script src="/js/nav/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/nav/bootstrap.min.js"></script>
	<script>
		var bLazy = new Blazy();
		function resizedWindow() {
			let width = $(window).width();
			if (width >= 768) {
				$('#header-nav').css('height', '400px');
			} else {
				$('#header-nav').css('height', '200px');
			}
		}
		resizedWindow();
		$(window).resize(resizedWindow);
		
		$('#header-nav').css('width', '100%');
		$('#header-nav').css('background-image', 'url(/images/admin-banner.jpg)');
		$('#header-nav').css('background-size', '100% 100%');
	</script>
{{/extend}}
