.footer {
	color: white;
	background-color:#212121;
	height:100%;
	padding: 50px 80px 50px 80px;
}

.footer .block {
	padding: 0px 0px 0px 20px;
}

.footer .glyphicon {
	font-size:30px;
}

.footer .content {
	font-size:15px;
	padding-top: 10px;
}

.vertical-line {
	color: white;
	border-left: 1px dotted white;
	height: 100%;
}
