.normal-line {
	border-bottom: 5px solid #CCC;
	width:90%;
	padding-top:7px;
	padding-bottom:7px;
}

.selected-line {
	border-bottom: 5px solid #43A047;
	width:90%;
	padding-top:7px;
	padding-bottom:7px;
}

.selected-border {
	border-top: 5px solid #43A047;
	border-right: 5px solid #43A047;
	border-bottom: 5px solid #43A047;
	border-left: 5px solid #43A047;
}

.normal-border {
	border-top: 5px solid #CCC;
	border-right: 5px solid #CCC;
	border-bottom: 5px solid #CCC;
	border-left: 5px solid #CCC;
}
